@import url("tailwind.css");

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  background-color: #f9fafb;
  color: #1f2937;
}
button {
  color: inherit;
  cursor: pointer;
}
img,
svg {
  display: block;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}